/* You can add global styles to this file, and also import other style files */

body {
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.btn {
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid;
}